<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>myPlaces</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <p>// get current position and update when moves</p>
        <p>Click the button to get your coordinates.</p>

        <button onclick="getLocation()">Try It</button>

        <p id="watchLocation"></p>
        <div class="row">
        </div>
        <script>
        var x = document.getElementById("watchLocation");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
            } else {
             x.innerHTML = "Geolocation is not supported by this browser.";}
            }

        function showPosition(position) {
            x.innerHTML="Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
        }
        </script>
    </div>

    <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <button class="btn btn-default btn-sm">
                <span>Log out</span>
            </button>
        </form>
    </div>
</div>
<footer class="container">
    <div>@ 2018 myPlaces</div>
</footer>
</body>
</html>